{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Регистрация аккаунта" %}{% endblock %}

{% block content %}
<h1>{% trans "Регистрация аккаунта" %}</h1>


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary text-uppercase" type="submit">{% trans "Регистрация" %} &raquo;</button>
</form>


<p>{% blocktrans %} Если есть учетная запись, ->  <a href="{{ login_url }}">Войти в аккаунт</a>.{% endblocktrans %}</p>

{% endblock %}
