{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтвердите свой адрес электронной почты" %}{% endblock %}

{% block content %}
<h1>{% trans "Подтвердите свой адрес электронной почты" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Эта часть сайта требует, чтобы мы подтвердили, что
вы тот, за кого себя выдаете. Для этой цели мы требуем, чтобы вы
подтвердили право собственности на свой адрес электронной почты. {% endblocktrans %}</p>

<p>{% blocktrans %}Мы отправили вам электронное письмо для
подтверждения. Пожалуйста, перейдите по ссылке внутри этого письма. Если вы не видите письмо с подтверждением в своем основном почтовом ящике, проверьте папку "Спам". В противном
случае свяжитесь с нами, если вы не получите его в течение нескольких минут.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Note:</strong> вы все еще можете <a href="{{ email_url }}">изменить свой адрес электронной почты</a>.{% endblocktrans %}</p>


{% endblock %}
